<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""> <h2>Epicodus Tunes </h2> </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <a routerLink="about"> <h5>About</h5></a></li>
      <li><a routerLink="marketplace"> <h5> Marketplace </h5> </a></li>
    </ul>
  </div>
</nav>


<div class="container">
  <p></p>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
